{% extends 'menadzerPocetna.html' %}
{% load staticfiles %}


{% block content %}
	
	<div class="page-header">
		<input class='col-sm-2' type='submit' value='Dodaj Restoran'/> <br/> <br/>
  		
	</div>


	<div class="row">
	
		{% for restoran in restorani %}

		<div class='col-sm-3'>
		
			Naziv: {{ restoran.naziv }} </br> Opis: {{ restoran.vrsta}} </br>
			<!-- <img class='img-responsive' src="{{ MEDIA_URL }}{{ pice.image }}" /> <br/> <br/> -->


		</div>

		{% endfor %}

	</div>


{% endblock %}